<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image.png" href="/static/img/ícone_fundo escuro.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Kaio Mendes</title>
</head>
<body>
    
    
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="/static/img/IMG_1769.jpg" alt="foto do kaio">
            
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/kaio-vinicius-606912265/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/kai0mendes">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/kai0mendes/?next=%2F">
                    <i class="bi bi-instagram"></i>
                </a>
                
            </div>

        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page"  href="#inicio" ><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check"></i> Habilidades</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark"></i> Curriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contatos"><i class="bi bi-envelope"></i> Contatos</a>
                  </li>
              </ul>
        </nav>

        <section>
            
        </section>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">

            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Kaio Mendes</h2>
                <span id="subtitle" class="text-white text-shadow">Web Designer</span>
            </div>
            
            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs" aria-hidden="true"></i>
                <a href="#sobre">Arraste para mais!</a>
                </div>
                
            </div>

        </section>

        <section class="container mt-5" id="sobre">


            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3 '>Sobre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                       Voluptate eum commodi ipsum et iusto aspernatur, ut minus
                       laudantium minima cupiditate?</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="/static/img/IMG_1769.jpg" alt="foto de perfil" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="left" >
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nam culpa, error animi at quisquam.</p>
                    
                    <div class="row mt-3 mb-3" >
                        <div class="col-md-6" >
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter"> 23 de Junho de 1999</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 23 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter"> Salta</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter"> Argentina</span>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-6" >
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter"> Trakking</span>
                                </li>
                                <li class="list-group-item">
                                    Algo a mais: <span class="fw-lighter"> Algo a mais</span>
                                </li>
                                <li class="list-group-item">
                                    Algo a mais: <span class="fw-lighter"> Algo a mais</span>
                                </li>
                                <li class="list-group-item">
                                    algo a mais: <span class="fw-lighter"> algo a mais</span>
                                </li>
                                
                              </ul>
                        </div>
                    </div>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore illum molestias possimus facilis, voluptatum suscipit.</p>

                    
                    
                   
                    
                </div>
            </div>

       
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In obcaecati facere omnis quibusdam odit modi vitae eos, et nostrum numquam, ipsam, dignissimos temporibus consequatur quis dolores vel. Veritatis, voluptas dolorem.</p>

                

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                    </div>

                </div>
                <hr class="w-50 me-auto ms-auto mt-5">        
                <div class="row">

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                    </div>
                    
                </div>
            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <h6>Lorem ipsum dolor sit amet.</h6>
                            <p><em>Lorem ipsum dolor sit amet.</em></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <h6>Lorem ipsum dolor sit amet.</h6>
                            <p><em>Lorem ipsum dolor sit amet.</em></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <h6>Lorem ipsum dolor sit amet.</h6>
                            <p><em>Lorem ipsum dolor sit amet.</em></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <h6>Lorem ipsum dolor sit amet.</h6>
                            <p><em>Lorem ipsum dolor sit amet.</em></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <h6>Lorem ipsum dolor sit amet.</h6>
                            <p><em>Lorem ipsum dolor sit amet.</em></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <h6>Lorem ipsum dolor sit amet.</h6>
                            <p><em>Lorem ipsum dolor sit amet.</em></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
            
                </div>

            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left" >
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselportfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselportfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselportfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>

                   </div>

                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/Portifolio.png" class="card-img-top" alt="img-meu-site">
                                <div class="card-body">
                                  <h5 class="card-title">Site de Vendas</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, aspernatur!</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/kai0mendes/Projeto-My-Shop" target="_blank" class="btn btn-outline-dark me-3"> <i class="bi bi-github">
                                     </i> </a>
                                </div>
                                </div>
                            
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/portifolio2.png" class="card-img-top" alt="img-meu-portfolio">
                                <div class="card-body">
                                  <h5 class="card-title">Meu Site</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, eius.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/kai0mendes/Projeto-My-Shop" target="_blank" class="btn btn-outline-dark me-3"> <i class="bi bi-github">
                                     </i> </a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/portifolio3.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Projeto hora do dia com javascript</h5>
                                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, sapiente!</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/kai0mendes/Projeto-My-Shop" target="_blank" class="btn btn-outline-dark me-3"> <i class="bi bi-github">
                                     </i> </a>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/Portifolio.png" class="card-img-top" alt="img-meu-site">
                                <div class="card-body">
                                  <h5 class="card-title">Site de Vendas</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, aspernatur!</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/kai0mendes/Projeto-My-Shop" target="_blank" class="btn btn-outline-dark me-3"> <i class="bi bi-github">
                                     </i> </a>
                                </div>
                                </div>
                            
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/portifolio2.png" class="card-img-top" alt="img-meu-portfolio">
                                <div class="card-body">
                                  <h5 class="card-title">Meu Site</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, eius.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/kai0mendes/Projeto-My-Shop" target="_blank" class="btn btn-outline-dark me-3"> <i class="bi bi-github">
                                     </i> </a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/portifolio3.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Projeto hora do dia com javascript</h5>
                                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, sapiente!</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/kai0mendes/Projeto-My-Shop" target="_blank" class="btn btn-outline-dark me-3"> <i class="bi bi-github">
                                     </i> </a>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselportfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselportfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contatos">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Recife-PE</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>kaiovinicius2306@gmail.com</p>
                            </div>
                            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29005.591243268016!2d-65.0657784525043!3d-24.668490236022702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941a34f5bf1de0c5%3A0xf2ad6eedd9d6b270!2sGen.%20G%C3%BCemes%2C%20Salta!5e0!3m2!1spt-BR!2sar!4v1679444345693!5m2!1spt-BR!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left"> 
                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o seu nome">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu email">
                                </div>
                                
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite a sua mensagem aqui"></textarea>
                                </div>
                                
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-outline-primary">Enviar mensagem</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    


    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>