<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image.png" href="/static/img/ícone_fundo escuro.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Kaio Mendes</title>
</head>
<body>
    
    
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="/static/img/IMG_1769.jpg" alt="foto do kaio">
            
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/kaio-vinicius-606912265/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/kai0mendes">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/kai0mendes/?next=%2F">
                    <i class="bi bi-instagram"></i>
                </a>
                
            </div>

        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page"  href="#inicio" ><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check"></i> Habilidades</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="bi bi-file-earmark"></i> Curriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i> Portfólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i> Contatos</a>
                  </li>
              </ul>
        </nav>

        <section>
            
        </section>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">

            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Kaio Mendes</h2>
                <span id="subtitle" class="text-white text-shadow">Web Designer</span>
            </div>
            
            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs" aria-hidden="true"></i>
                <a href="#sobre">Arraste para mais!</a>
                </div>
                
            </div>

        </section>

        <section class="container mt-5" id="sobre">


            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3 '>Sobre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                       Voluptate eum commodi ipsum et iusto aspernatur, ut minus
                       laudantium minima cupiditate?</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="/static/img/IMG_1769.jpg" alt="foto de perfil">
                </div>
                <div class="col-md-8">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nam culpa, error animi at quisquam.</p>
                    
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter"> 23 de Junho de 1999</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 23 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter"> Salta</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter"> Argentina</span>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter"> Trakking</span>
                                </li>
                                <li class="list-group-item">
                                    Algo a mais: <span class="fw-lighter"> Algo a mais</span>
                                </li>
                                <li class="list-group-item">
                                    Algo a mais: <span class="fw-lighter"> Algo a mais</span>
                                </li>
                                <li class="list-group-item">
                                    algo a mais: <span class="fw-lighter"> algo a mais</span>
                                </li>
                                
                              </ul>
                        </div>
                    </div>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore illum molestias possimus facilis, voluptatum suscipit.</p>

                    
                    
                   
                    
                </div>
            </div>

       
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In obcaecati facere omnis quibusdam odit modi vitae eos, et nostrum numquam, ipsam, dignissimos temporibus consequatur quis dolores vel. Veritatis, voluptas dolorem.</p>

                

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                          <p class="mt-3 mb-0">HTMl</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                          </div>
                    </div>

                </div>
                <hr class="w-50 me-auto ms-auto mt-5">        
                <div class="row">

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                          <p class="mt-3 mb-0">HABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                    </div>
                    
                </div>
            </div>

        </section>



    </main>
    


    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>